In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#model Building
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor

In [3]:
df=pd.read_csv("data/raw.csv")

In [4]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
X=df.drop(columns="math score")

In [6]:
y=df["math score"]

In [7]:
num_features=X.select_dtypes(exclude="object").columns
cat_features=X.select_dtypes(include="object").columns
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer
numeric_transformer=StandardScaler()
cat_transformer=OneHotEncoder()
preprocessor=ColumnTransformer(
    [
        ("OneHotEncoder",cat_transformer,cat_features),
        ("StandardScaler",numeric_transformer,num_features)
    ]
)

In [8]:
X=preprocessor.fit_transform(X)

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
def evaluate_model(true,predicted):
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse=np.sqrt(mean_squared_error(true,predicted))
    r2_score=r2_score(true,predicted)
    return mae,mse,rmse,r2_score

In [ ]:
models={
    "Linear Regression":LinearRegression(),
    "Lasso":Lasso(),
    "Ridge":Ridge(),
    "Desision Tree Regressor":DecisionTreeRegressor(),
    "Random Forest Regressor":RandomForestRegressor(),
    "kNeighbor Regressor":KNeighborsRegressor(),
    "Ada Boost Regressor":AdaBoostRegressor(),
    "SVR":SVR(),
    "Cat boost":CatBoostRegressor(),
    "Xg Boost":XGBRegressor(),
}
model_list=[]
r2_list=[]
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)
    y_pred_train=model.predict(X_train)
    y_pred_test=model.predict(X_test)

    model_train_mse, model_train_mae , model_train_rmse ,model_train_r2=evaluate_model(y_train,y_pred_train)

    model_test_mse, model_test_mae, model_test_rmse , model_test_r2=evaluate_model(y_test,y_pred_test)
    print(list(models.keys()))[i]
    model_list.append(list(models.keys))[i]
    
    print("Model performance for training set")
    print("Root mean squared error :{:.4f}".format(model_train_rmse))
    print("Mean Absolute error :{:.4f}".format(model_train_mae))
    print("Mean Squared Error :{:.4f}".format(model_train_mse))
    print("r2_score :{:.4f}".format(model_train_r2))

    print("--------------------------------------------")
    print("Model performance for test set")
    print("Root mean squared error :{:.4f}".format(model_test_rmse))
    print("Mean Absolute error :{:.4f}".format(model_test_mae))
    print("Mean Squared Error :{:.4f}".format(model_test_mse))
    print("r2_score :{:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)